# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/elang/elang/x64/Debug/elang.tlog
/elang/elang/x64/Debug
/elang/.vs/elang/v15
/elang/elang/elang.vcxproj
/elang/elang/elang.vcxproj.filters
/elang/elang/elang.vcxproj.user
/elang/x64/Debug
/elang/elang.sln
